<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :title, "Title" %>
  <%= form.text_field :title %>

  <%= form.label :user_id, "Assigned user" %>
  <%= form.collection_select :user_id, User.all, :id, :name %>

  <%= form.label :state, "State" %>
  <%= form.select :state, Todo.aasm.states.map(&:name).map(&:to_s) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
